body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b
  );
  color: #111827;
}

h2 {
    color: red;
    border-bottom: 2px solid #e5e7eb; /* Sets the text color to red */
    padding-bottom: 5px;
}


/* HEADER */
header {
  background: #0f172a;
  color: white;
  padding: 30px;
  text-align: center;
}

.role {
  font-size: 1.2em;
  color: #38bdf8;
}

.summary {
  max-width: 600px;
  margin: auto;
}

/* SECTIONS */
section {
  padding: 25px;
  max-width: 900px;
  margin: auto;
  border-radius: 8px;
  margin-top: 20px;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills li {
  background: #e0f2fe;
  padding: 8px 12px;
  border-radius: 5px;
  list-style: none;
  color: #0f172a;
}

/* Certifications */
.cert-card {
  background:white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: none;
}

.cert-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  transition: background 0.3s ease;
}

.cert-btn:hover {
  background: #1e40af;
}

/* Projects */
.card {
  background: #f0fdf4;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card a {
  display: inline-block;
  margin-top: 5px;
  color: #065f46;
  text-decoration: none;
  font-weight: bold;
}

/* Experience */
.experience-card {
  background: #fef2f2;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.experience-card h3 {
  color: #991b1b;
}

.company {
  font-style: italic;
  color: #7f1d1d;
}

/* Education */
.education {
  background: #f5f7fa;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

/* Footer */
footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #38bdf8;
}